
/*************************  Defaults  *******************************************/

* {
    margin: 0;
    padding: 0;
}

:root {

    --primaryColor: #ffffff;
    --secondaryColor: #212121;

}

.darkTheme {

    --primaryColor: #212121;
    --secondaryColor: #ffffff;

}

#nav, #blogs-container, #icon, .footer {
    display: flex;
    flex-wrap: wrap;
}

body {

    height: 100vh;
    width: 100%;
    font-family: Sans-serif, Serif, Arial;
    background-color: var(--primaryColor);

}

/*************************  Nav Styling  **************************************/

#nav {

    border-bottom: solid; color: var(--secondaryColor);
    padding: 3rem;
    margin: -10px;
    justify-content: end;

}

#icon {

    width: 30px;
    cursor: pointer;
}

#back-button {

    width: 90px;
    margin-right: 60px;
    box-shadow: 2px 2px 2px;
    cursor: pointer;

}

/*************************  Blog Container **************************************/

#blogs-container {

    border: solid; color: var(--secondaryColor);
    height: 80vh;

}

.post {
    
    text-align: center;
    border: solid; color: var(--secondaryColor);
    width: 15rem;
    height: 18rem;
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    box-shadow: 2px 2px 2px;

}

.post:hover {

    transition-duration: 0.5s;
    filter: drop-shadow(3px 3px 6px crimson);

}

h2, h3 {
    
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-bottom: solid;
    
}

/*******************************   Footer **************************************/


.footer {

    margin-top: 1rem;
    justify-content: center;
}

.icon {
    
    margin-left: 1rem;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.icon:hover {
    
    transition-duration: 0.5s;
    filter: drop-shadow(3px 3px 6px crimson);

}