
/*************************  Defaults  *****************************************/

* {
    margin: 0;
    padding: 0;
}


#nav, .Welcome-logo, #Form, #form-inputs {
    display: flex;
}

/*************************  Nav Styling  **************************************/

#nav {

    border-bottom: solid;
    padding: 3rem;
    margin: -10px;

}

/*************************  Welcome Logo Styling  *****************************/

.Welcome-logo {

    border: solid;
    padding: 10% 5% 11% 10%;
    
}

#logo-img {

    justify-content: center;
    margin: 0;
    width: 65%;
    border-radius: 500px;

}

/*************************  Front Page Form Styling  **************************/

#form-inputs {
    
    border: solid;
    padding: 15%;

}

#user-inputs {
    
    align-self: center;
    text-align: left;
    font-size: 2rem;
}

#Form {
    
    border: solid;
    margin-top: 1%;
    
}